/*branding theme overrides font, use custom upload instead*/
@import url('https://fonts.googleapis.com/css?family=Arimo');

.THIS {
  font-family: 'Arimo', sans-serif;
}

.THIS .help-header {
  background: #d2ece9;
}

.THIS #logo,
.THIS #profile_menu {
    display: inline-block;
}

.THIS #logo img {
    height: 50px;
}

.THIS #profile_menu .profileIcon {
    height: 40px;
    width: auto;
}

.THIS #profile_menu .profileName,
.THIS #profile_menu .triggerDownArrow.down-arrow,
/* remove active hightlight, SF given classes */
.THIS .selfServiceProfileMenuTrigger a:hover,
.THIS .selfServiceProfileMenuTrigger a:focus,
.THIS .selfServiceProfileMenuTrigger a:active {
    color: #404040;
    text-shadow: none;
}

.THIS .selfServiceProfileMenuTrigger .trigger-link:focus {
    box-shadow: none;
}

.THIS .searchRegion {
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-repeat: repeat-x;
  background-size: contain;
}

.THIS .searchRegion .ui-widget {
  width: 630px;
}

.THIS .navigation ul.comm-navigation__list {
  justify-content: space-around;
}
.THIS .navigation .slds-list__item a,
.THIS .navigation .slds-list__item button {
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  padding: 18px  14px;
  cursor: pointer;
}
.THIS .navigation .slds-list__item a:hover,
.THIS .navigation .slds-list__item button:hover {
    background-color: white;
}

.THIS .navigation .slds-list__item a.slds-is-active:not([data-type="home"]){
  color: #deb359;
  background-color: white;
  border-bottom: 2px solid #deb359;
}

.THIS .mainContentArea {
  background: #f8f8f8;
}
